In [1]:
# Que 1  Print multiplication table from 1 to 10"
# Loop through numbers from 1 to 10
for i in range(1, 11):
    print(f"Multiplication table for {i}:")
    # Loop through numbers from 1 to 10 for each table
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}")
    print()  # Print a blank line for better readability

Multiplication table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication table for 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication table for 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication table for 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Multiplication table for 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Multiplication table for 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Multiplication table for 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Multiplication table for 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Multiplication table for 10:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [2]:
# Que 2 . Print multiplication table from 1 to 10"
# Define the input lists
l1 = [1, 2, 3, 4, 5, 6]
l2 = ['a', 'b', 'c', 'd', 'e', 'f']

# Create a list for the result
l3 = []

# Append odd-indexed elements from l1
l3.extend(l1[i] for i in range(1, len(l1), 2))

# Append even-indexed elements from l2
l3.extend(l2[i] for i in range(0, len(l2), 2))

# Print the resulting list
print("List l3:", l3)

List l3: [2, 4, 6, 'a', 'c', 'e']

In [3]:
# Q 3. print * pattern
# Number of rows in the pattern
rows = 8

# Loop through each row
for i in range(rows):
    # Print leading spaces
    print(" " * (2 * i), end="")
    # Print the stars with spaces between them
    print("* " * (rows - i))

* * * * * * * *
  * * * * * * *
    * * * * * *
      * * * * *
        * * * *
          * * *
            * *
              *

In [4]:
# Que 4
def exponent(base, exp):
    # Initialize result to 1
    result = 1
    # Multiply the base with itself 'exp' times
    for _ in range(exp):
        result *= base
    return result

# Example usage
base = 5
exp = 4
result = exponent(base, exp)
print(f"{base} raised to the power of {exp} is: {result}")

5 raised to the power of 4 is: 625

In [5]:
# Que 5
# Step 1: Create and write content to 'test.txt'
with open('test.txt', 'w') as file:
    file.write("line1\n")
    file.write("line2\n")
    file.write("line3\n")
    file.write("line4\n")
    file.write("line5\n")
    file.write("line6\n")
    file.write("line7\n")

# Step 2: Read from 'test.txt', skip line 5, and write to 'new_file.txt'
def skip_line_and_write(source_file, target_file, line_to_skip):
    with open(source_file, 'r') as infile:
        lines = infile.readlines()

    with open(target_file, 'w') as outfile:
        for i, line in enumerate(lines, start=1):
            if i != line_to_skip:
                outfile.write(line)

# Specify line to skip (5 in this case)
line_to_skip = 5

# Call the function to process the files
skip_line_and_write('test.txt', 'new_file.txt', line_to_skip)

print("Content copied to 'new_file.txt' with line 5 skipped.")

Content copied to 'new_file.txt' with line 5 skipped.

In [6]:
#Que 6
# Receive a single line of input containing three names
user_input = input("Enter three names separated by spaces: ")

# Split the input string into a list of names
names = user_input.split()

# Check if exactly three names were entered
if len(names) == 3:
    # Print each name on a new line
    for name in names:
        print(name)
else:
    print("Please enter exactly three names separated by spaces.")

Enter three names separated by spaces:  vipin yadav rewa
vipin
yadav
rewa

In [7]:
#Que 7
def show_employee(name, salary=9000):
    """
    Function to display the employee's name and salary.

    Parameters:
    name (str): The name of the employee.
    salary (int, optional): The salary of the employee. Defaults to 9000.
    """
    print(f"Name: {name} salary: {salary}")

# Example usage
show_employee("Bill Gates", 12000)
show_employee("Elon Musk")

Name: Bill Gates salary: 12000
Name: Elon Musk salary: 9000

In [8]:
#Que 8
import re

def find_words_with_letters_and_digits(input_string):
    # Split the input string into words
    words = input_string.split()

    # Define a list to hold words containing both letters and digits
    result = []

    # Iterate through each word
    for word in words:
        # Check if the word contains both letters and digits
        if re.search(r'[A-Za-z]', word) and re.search(r'\d', word):
            result.append(word)

    return result

# Given input string
str1 = "Harry25 is Gryffindor Wizard50 and cursed"

# Find and print words that contain both letters and digits
words_with_letters_and_digits = find_words_with_letters_and_digits(str1)
for word in words_with_letters_and_digits:
    print(word)

Harry25
Wizard50

In [9]:
#Que 9
import re

def substitute_special_characters(input_string):
    # Replace each special character with '#'
    result = re.sub(r'[^a-zA-Z0-9\s]', '#', input_string)
    return result

# Given input string
str1 = '/*Modi is @Politician & Melony!!'

# Substitute special characters and print the result
output_string = substitute_special_characters(str1)
print(output_string)

##Modi is #Politician # Melony##

In [10]:
#Que 10
# Given lists
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

# Construct a set of pairs
result_set = set(zip(first_list, second_list))

# Print the result
print("Result is", result_set)

Result is {(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

In [11]:
#Que 11
# Define two sets A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# Perform set operations
A_minus_B = A - B           # Elements in A but not in B
B_minus_A = B - A           # Elements in B but not in A
A_intersection_B = A & B    # Elements common to both A and B
A_union_B = A | B           # All elements in either A or B

# Print the results
print("A - B:", A_minus_B)
print("B - A:", B_minus_A)
print("A ∩ B:", A_intersection_B)
print("A ∪ B:", A_union_B)

A - B: {1, 2, 3}
B - A: {8, 6, 7}
A ∩ B: {4, 5}
A ∪ B: {1, 2, 3, 4, 5, 6, 7, 8}

In [12]:
#Que 12
class Vehicle:
    def __init__(self, max_speed, mileage):
        """
        Initialize a new Vehicle instance.

        Parameters:
        max_speed (int): The maximum speed of the vehicle.
        mileage (int): The mileage of the vehicle.
        """
        self.max_speed = max_speed
        self.mileage = mileage

    def display_info(self):
        """
        Display the max speed and mileage of the vehicle.
        """
        print(f"Max Speed: {self.max_speed} km/h")
        print(f"Mileage: {self.mileage} km")

# Example usage:
# Create a Vehicle instance
car = Vehicle(max_speed=180, mileage=15000)

# Display the vehicle's information
car.display_info()

Max Speed: 180 km/h
Mileage: 15000 km

In [15]:
#Que 13
# Define the parent class Vehicle
class Vehicle:
    def __init__(self, max_speed, mileage):
        """
        Initialize a new Vehicle instance.

        Parameters:
        max_speed (int): The maximum speed of the vehicle.
        mileage (int): The mileage of the vehicle.
        """
        self.max_speed = max_speed
        self.mileage = mileage

    def display_info(self):
        """
        Display the max speed and mileage of the vehicle.
        """
        print(f"Max Speed: {self.max_speed} km/h")
        print(f"Mileage: {self.mileage} km")

# Define the child class Bus that inherits from Vehicle
class Bus(Vehicle):
    def __init__(self, max_speed, mileage, seating_capacity):
        """
        Initialize a new Bus instance. Inherits from Vehicle.

        Parameters:
        max_speed (int): The maximum speed of the bus.
        mileage (int): The mileage of the bus.
        seating_capacity (int): The seating capacity of the bus.
        """
        # Initialize the parent class (Vehicle) with max_speed and mileage
        super().__init__(max_speed, mileage)
        self.seating_capacity = seating_capacity

    def display_info(self):
        """
        Display the max speed, mileage, and seating capacity of the bus.
        """
        # Call the parent class method to display max speed and mileage
        super().display_info()
        print(f"Seating Capacity: {self.seating_capacity}")

# Example usage:
# Create a Bus instance
bus = Bus(max_speed=120, mileage=30000, seating_capacity=50)

# Display the bus's information
bus.display_info()

Max Speed: 120 km/h
Mileage: 30000 km
Seating Capacity: 50

In [16]:
#Que 14
# Define the parent class Vehicle
class Vehicle:
    def __init__(self, name, max_speed, mileage):
        """
        Initialize a new Vehicle instance.

        Parameters:
        name (str): The name of the vehicle.
        max_speed (int): The maximum speed of the vehicle.
        mileage (int): The mileage of the vehicle.
        """
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

    def seating_capacity(self, capacity):
        """
        Return the seating capacity of the vehicle.

        Parameters:
        capacity (int): The seating capacity of the vehicle.

        Returns:
        str: A string describing the seating capacity.
        """
        return f"The seating capacity of a {self.name} is {capacity} passengers"

# Define the child class Bus that inherits from Vehicle
class Bus(Vehicle):
    def __init__(self, name, max_speed, mileage, seating_capacity=50):
        """
        Initialize a new Bus instance. Inherits from Vehicle.

        Parameters:
        name (str): The name of the bus.
        max_speed (int): The maximum speed of the bus.
        mileage (int): The mileage of the bus.
        seating_capacity (int, optional): The seating capacity of the bus. Defaults to 50.
        """
        # Initialize the parent class (Vehicle) with name, max_speed, and mileage
        super().__init__(name, max_speed, mileage)
        self.seating_capacity_value = seating_capacity

    def seating_capacity(self):
        """
        Return the seating capacity of the bus with the default value.

        Returns:
        str: A string describing the seating capacity of the bus.
        """
        return f"The seating capacity of a {self.name} is {self.seating_capacity_value} passengers"

# Example usage:
# Create a Bus instance
bus = Bus(name="bus", max_speed=120, mileage=30000)

# Display the seating capacity of the bus
print(bus.seating_capacity())

The seating capacity of a bus is 50 passengers

In [17]:
#Que 15
class Vehicle:
    def __init__(self, name, mileage, capacity):
        """
        Initialize a new Vehicle instance.

        Parameters:
        name (str): The name of the vehicle.
        mileage (int): The mileage of the vehicle.
        capacity (int): The seating capacity of the vehicle.
        """
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def fare(self):
        """
        Calculate the fare for the vehicle.

        Returns:
        float: The fare based on seating capacity.
        """
        return self.capacity * 100

class Bus(Vehicle):
    def __init__(self, name, mileage, capacity=50):
        """
        Initialize a new Bus instance. Inherits from Vehicle.

        Parameters:
        name (str): The name of the bus.
        mileage (int): The mileage of the bus.
        capacity (int, optional): The seating capacity of the bus. Defaults to 50.
        """
        super().__init__(name, mileage, capacity)

    def fare(self):
        """
        Calculate the fare for the bus including a 10% maintenance fee.

        Returns:
        float: The total fare with the additional maintenance fee.
        """
        total_fare = super().fare()
        maintenance_fee = total_fare * 0.10
        return total_fare + maintenance_fee

# Example usage:
# Create a Bus instance
school_bus = Bus(name="School Volvo", mileage=12)

# Display the fare for the bus
print("Total Bus fare is:", school_bus.fare())

Total Bus fare is: 5500.0

In [18]:
#Que 16
import json

# Given dictionary
data = {"key1": "value1", "key2": "value2"}

# Convert the dictionary to a JSON formatted string
json_data = json.dumps(data, indent=4)  # 'indent=4' is optional for pretty-printing

# Print the JSON formatted string
print(json_data)

{
    "key1": "value1",
    "key2": "value2"
}

In [19]:
#Que 17
import json

# Given JSON object
sample_json = {"id": 1, "name": "value2", "age": 29}

# Convert the dictionary to a JSON formatted string with sorted keys
json_data = json.dumps(sample_json, indent=4, sort_keys=True)

# Write the JSON string to a file
with open('sorted_json_file.json', 'w') as file:
    file.write(json_data)

print("Sorted JSON has been written to 'sorted_json_file.json'")

Sorted JSON has been written to 'sorted_json_file.json'